.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}


.description {
  font-size: 30px;
  margin-bottom: 20px;
  color: #201B10;
  font-weight: 400;
}

.generateButton {
  background-color: #2AE881;
  color: #201B10;
  border: none;
  border-radius: 2;
  padding: 15px 27px;
  font-size: 35px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 360px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generateButton:hover:not(:disabled) {
  background-color: #ba70ee;
}

.generateButton:disabled {
  background-color: var(--color-gray-medium);
  cursor: not-allowed;
}

.loader {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.successMessage {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--color-success);
}

.error {
  margin-top: 1rem;
  color: #ff4d4f;
  font-size: 1.1rem;
}