.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;    
  width: 100%;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 40px;
}

.name {
  background: я;
  color: #201B10;
  font-weight: 500;
  font-size: 30px;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 6px;

}

