@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  /* Colors */
  --color-background: #FCE2FF;
  --color-primary: #CB81FF;
  --color-text: #201B10;

  /* Typography */
  --font-size-s: 0.8333rem;  /* ~20px / 1.5 */
  --font-size-m: 1.5rem;     /* ~30px / 1.5 */
  --font-size-l: 1.4583rem;  /* ~35px / 1.5 */
  --font-size-xl: 1.6667rem; /* ~40px / 1.5 */

  /* Border radius */
  --radius-l: 1.6667rem;    /* ~40px / 1.5 */
  --radius-m: 1.0417rem;    /* ~25px / 1.5 */
  --radius-s: 0.4167rem;    /* ~10px / 1.5 */
}